<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="home-container content-col">
        <nav class="float-navigation-bar content-row">
            <a href="" id="#faqs" class="nav-links links">FAQs</a>
            <a href="" id="#about" class="nav-links links">About</a>
            <a href="" id="#contact" class="nav-links links">Contact</a>
        </nav>

        <div class="main-content content-col">
            <h3 class="title ttl">Internship Finder</h3>
            <p class="subcontent" id="quote">Every internship and opportunity is a chance to learn, grow, and take one 
                step closer to building the career and future you’ve always dreamed of.
            </p>
            <button class="continue-button" onclick="location.href='main-page.html'">Kickstart Your Career</button>
        </div>

        <!--
        +PROBABLY GONNNA WORK WITH IT
        +JUST FOR AN UPDATE
        +PROBABLY GONNA MAKE IT MORE INTERACTIVE WHERE I AM GONNA SCRAPE THE RANDOM REFERENCES THAT THE USER MIGHT LIKE/INTERESTED 
        LIKE AVAILABLE INTERNSHIPS(IT MIGHT NOT BE ONLY 10 (IT CAN ADJUSTABLE THO (JUST A LAYOUT)))
        --> 
        <div class="references content-col">
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
            <a href="" class="links ref-links">ref link</a>
        </div>
    </div>
</body>
</html>